---
---

@import "{{ site.theme }}";

.page-header {
	position: relative;
	background: rgba(0, 0, 0, .5);
}

.page-header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(/assets/images/logo.jpg) no-repeat center center;
	background-size: cover;
}
